{% for item in data -%}
{% if item.homepage -%}
| icon:github[] {{ item.html_url }}[{{ item.name }}] | {{ item.description or '' }} | link:{{ item.homepage }}[icon:book[] {{ item.name }}]
{% else %}
| icon:github[] {{ item.html_url }}[{{ item.name }}] | {{ item.description or '' }} |
{% endif %}
{%- endfor %}
